<!-- Multiple on statements act as multiple OR statements -->
<div>
  @defer (on viewport; on timer(5s)) {
    <app-large-component></app-large-component>
  } @placeholder {
    <img src="https://placehold.co/200x200" />
  }
</div>

<!-- Interaction refers to either a click or keydown event -->
<div>
  @defer (on interaction) {
    <app-large-component></app-large-component>
  } @placeholder {
    <img src="https://placehold.co/200x200" />
  }
</div>

<div>
  @defer (on timer(5s)) {
    <app-large-component></app-large-component>
  } @placeholder {
    <img src="https://placehold.co/200x200" />
  }
</div>

<div>
  @defer (when showDiv) {
    <app-large-component></app-large-component>
  } @placeholder {
    <div>
      <button mat-raised-button (click)="showDiv = !showDiv">
        Show Component
      </button>
    </div>
    <img src="https://placehold.co/200x200" />
  }
</div>

<div #greeting>Hello!</div>

@defer (on viewport(greeting)) {
  <app-large-component></app-large-component>
}

@defer (on hover) {
  <app-large-component></app-large-component>
} @placeholder {
  <img src="https://placehold.co/200x200" />
}
